include layout
  #container.containter-fluid.col-md-8.offset-md-2
      #banner.container-fluid.col-md-8.offset-md-2 Premier League Pick'Em
      .wrapper.fadeInDown
        #formContent

          .fadeIn.first
            img(src="/assets/images/PremierLeagueLogo.jpg" id="icon" alt="User Icon")

          form(action="" method="POST" role="form")
            input#username.fadeIn.second(type="text" name="username" placeholder="username")
            input#email.fadeIn.second(type="text" name="email" placeholder="email")
            input#password.fadeIn.second(type="password" name="password" placeholder="password")
          br
          a#registerBtn.btn.btn-primary(href="/standings") Register 
          a#loginBtn.btn.btn-primary(href="/standings") Login
          p (Email only needed for registration)

  script(src="/assets/js/loginFront.js")