<DOCTYPE html>
<html>
    <head>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet", href="/assets/css/login.css">
        <Title> Premier League Pick'Em Standings</Title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="/assets/images/LogoHead.jpg" id="icon2" alt="Navbar"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/standings">Standings <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pickGames">Pick Games</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/lastWeek">Last Week</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/logout" id="logoutBtn">Log Out</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
        
        
        
        <div id='container' class="container-fluid col-md-8 offset-md-2">
            <div id="banner" class='container-fluid col-md-8 offset-md-2'>Premier League Pick'Em</div>
                <div class="wrapper fadeInDown">
                        <div id="formContent">
                          <!-- Tabs Titles -->
                      
                          <!-- Icon -->
                          <div class="fadeIn first">
                            <img src="/assets/images/PremierLeagueLogo.jpg" id="icon" alt="User Icon" />
                          </div>
                      
                          <!-- Standings Table -->
                          <div class="fadeIn second" id="standingsTable">
                              <h5>Select 'Pick Games' to Continue</h5>
                              <h3>Season Rankings</h3>    
                          </div>
                          <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Player</th>
                                    <th scope="col">Points</th>
                                </tr>
                            </thead>
                            <tbody id="standingsTableBody">

                            </tbody>
                            
                        </table>
                </div>
            </div>
        </div>

        <script>
            function loadScripts(sources) {
                sources.forEach(src => {
                    var script = document.createElement('script');
                    script.src = src;
                    script.async = false; //<-- the important part
                    document.body.appendChild( script ); //<-- remember to append to body instead of head 
                });
            }

            loadScripts(['/assets/js/calculatePoints.js','/assets/js/standingsFront.js']);
        </script>

    </body>

</html>