extends playLayout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h3.display-7.m-b-2 
            thead
                tr
                    th Pick Options
                tr
                    th Pick One
                    th Pick One Points
                    th Pick Two
                    th Pick Two Points
                    th pick Three
                    th pick Three Points
                    th Points from Prior Weekend
            tbody#tbodyTable
        h3.display-4.m-b-2
            thead 
                tr
                    th League Standings
                tr
                    th User
                    th Points