.game{
    font-size: 15px;
    border: rgb(31, 197, 31) solid 5px;
    border-style: inset;
}

body{
    background-image: url(../images/field.jpg);
    background-size: auto;
}

h1{
    font-size: 40px;
    color:rgb(31, 197, 31);
}